/* здесь используйте глобальные селекторы img, body, html и так далее */

// body {
//   font-family: "Lato", sans-serif;
//   font-weight: 400;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 18px;
//   color: $color-text-basic-black;

//   @media (min-width: 768px) {
//     font-size: 16px;
//     line-height: 24px;
//   }
// }

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
