$font-primary: "Lato", sans-serif;
$font-additional: "Oswald", sans-serif;
$color-text-basic-black: #000000;
$color-text-additional-black: #111111;
$color-text-additional-black-2: #222222;
$color-text-basic-grey: #444444;
$color-text-additional-grey: #c4c4c4;
$bg-color-primary: #f2f2f2;
$bg-color-additional: #eaeaea;
$bg-color-basic-green: #68b738;
$bg-color-basic-white: #ffffff;
