//font

$font-primary: "Lato", "Arial", sans-serif;
$font-additional: "Oswald", "Arial", sans-serif;

//color

$color-text-basic-black: #000000;
$color-text-additional-black: #111111;
$color-text-additional-black-2: #222222;
$color-text-basic-grey: #444444;
$color-text-basic-grey-2: #666666;
$color-text-additional-grey: #c4c4c4;
$color-text-additional-grey-2: #d9d9d9;
$color-text-additional-grey-3: #d3d3d3;
$color-text-additional-grey-4: #cdcdcd;
$color-text-additional-grey-5:#e6e6e6;
$color-text-additional-grey-6:#ebebeb;
$color-text-additional-grey-7: #e7e7e7;
$bg-color-primary: #f2f2f2;
$bg-color-additional: #eaeaea;
$bg-color-basic-green: #68b738;
$bg-color-basic-green-2:#5eaa2f;
$bg-color-basic-white: #ffffff;

//viewport

$tablet-width: 768px;
$desktop-width: 1280px;
$adaptive-padding: calc(30% - 160px);
