.advantages {
  //
}

.advantages__title {
  font-family: $font-additional;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__wrapper {
  //
}

.advantages__list {
  display: flex;
  flex-direction: column;
}

.advantages__item {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $bg-color-basic-green;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }
}

.advantages__description {
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__item--leaf {
  &::before {
    background-image: url("../../icons/stack.svg#leaf");
    background-size: 30px 32px;
  }
}

.advantages__item--water {
  &::before {
    background-image: url("../../icons/stack.svg#water");
    background-size: 30px 32px;
  }
}

.advantages__item--cutlery {
  &::before {
    background-image: url("../../icons/stack.svg#cutlery");
    background-size: 30px 32px;
  }
}

.advantages__item--time {
  &::before {
    background-image: url("../../icons/stack.svg#time");
    background-size: 30px 32px;
  }
}
