.button {
  display: block;
  padding: 10px;
  font-family: $font-additional;
  font-style: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: $bg-color-basic-green;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: 0.2s ease-in-out;

  &:not(:disabled):hover {
    background-color: $bg-color-basic-green-2;
  }

  &:not(:disabled):focus-visible {
    //
  }

  &:not(:disabled):active {
    background-color: $bg-color-basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    opacity: 0.3;
    background-color: #000000;
    cursor: default;
  }

  &--secondary {
    background-color: $bg-color-primary;
    color: $color-text-basic-grey;

    &:not(:disabled):hover {
      background-color: $color-text-additional-grey-6;
    }

    &:not(:disabled):active {
      background-color: $color-text-additional-grey-6;
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
