.catalog-extra {
  //
}

.catalog-extra__title {
  border-top: 1px solid #d9d9d9;
  padding: 36px 0 25px;
  padding-left: 20px;
  font-family: $font-additional;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.catalog-extra__wrapper {
  max-width: $tablet-width - 60px;
}

.catalog-extra__list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  &:first-child {
    border-top: 1px solid $color-text-additional-grey-4;
  }
}

.catalog-extra__gift {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 290px;
  padding: 60px 65px;
  padding-bottom: 43px;
}

//tablet

@media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
  .catalog-extra__gift {
    padding: 50px 125px 50px 100px;
    min-height: 200px;
    margin-top: 70px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .catalog-extra__wrapper .catalog-extra__list {
    padding: 0;
    border-left: 1px solid $color-text-additional-grey-4;
    border-right: 1px solid $color-text-additional-grey-4;
  }
}

@media (min-width: $tablet-width) {
  .catalog-extra__wrapper {
    min-width: 100%;
  }

  .catalog-extra__title {
    font-size: 32px;
    line-height: 32px;
    padding-left: none;
    position: relative;
    border-top: none;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 2px solid $bg-color-basic-green;
      width: 100%;
      z-index: -1;
      // background-color: $bg-color-basic-green;
      top: 60%;
    }
  }
}

//desktop

@media (min-width: $desktop-width) {
  .catalog-extra__title {
    font-size: 40px;
    line-height: 40px;
  }

  .catalog-extra__wrapper {
    display: flex;
    gap: 80px;
  }

  .catalog-extra__list {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .catalog-extra__gift {
    min-height: 288px;
    width: 245px;
    padding: 42px;
    padding-top: 55px;
  }
}
