.dealers-invitation {
  &--bg {
    background-color: $bg-color-primary;

    @media (min-width: 1440px) {
      background-color: #ffffff;
    }
  }
}

.dealers-invitation__wrapper {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}

.dealers-invitation__title {
  margin: 0;
  padding: 0;
  font-family: $font-additional;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-text-additional-black;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.dealers-invitation__description {
  line-height: 20px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.dealers-invitation__map {
  justify-self: center;
}

@media (min-width: $tablet-width) {
  .dealers-invitation__wrapper {
    padding: 30px;
  }
}
