.divider-line {
  position: relative;
  width: fit-content;
  max-width: 90%;
  background-color: #ffffff;
  box-shadow:
    -40px 0 0 0 #ffffff,
    40px 0 0 0 #ffffff;

  &::before {
    content: "";
    top: 45%;
    right: 0;
    position: absolute;
    height: 2px;
    width: 100vw;
    background-color: $bg-color-basic-green;
    box-shadow: 100vw 0 0 0 $bg-color-basic-green;
    z-index: -1;
  }
}


@media (min-width: 600px) {
  .divider-line {
    left: calc(30% - 171px);
  }
}

@media (min-width: $desktop-width) {
  .divider-line {
    left: 0;
  }
}
