.example {
  text-align: center;
  background-color: $bg-color-additional;
}

.example__wrapper {
  padding-top: 25px;
}

.example__title {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  text-align: left;
  font-family: $font-additional;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

.example__list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 32px;
  max-width: calc($tablet-width - 200px);
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__stats {
  min-width: 124px;
  margin: 0;
  margin-bottom: 20px;
  align-self: center;
  font-family: $font-additional;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  border: 1px solid $color-text-additional-grey-4;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 14px;
  padding-bottom: 16px;
}

.example__stats-description {
  position: relative;
  margin: 0;
  margin-bottom: -11;
  top: -30px;
  font-size: 12px;
  line-height: 12px;
  color: $color-text-basic-grey;
  text-transform: lowercase;
  width: 90px;
  padding: 0 10px;
  background-color: $bg-color-additional;
}

.example__costs-wrapper {
  margin: 0;
  font-family: $font-additional;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.example__images {
  position: relative;
  padding: 20px;
  padding-bottom: 36px;
  z-index: 1;
}

//tablet

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    background-color: $bg-color-basic-white;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $bg-color-additional;
      width: 100%;
      height: 462px;
    }
  }

  .example__wrapper {
    padding-top: 45px;
    border-top: 1px solid $color-text-additional-grey-5;
  }

  .example__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__list {
    gap: 43px;
    margin: 0;
  }

  .example__stats {
    min-width: 162px;
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 20px;
  }

  .example__stats-description {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    max-width: 150px;
    padding: 0 10px;
    background-color: #ffffff;
  }

  .example__costs-wrapper {
    font-size: 20px;
    text-align: end;
    display: flex;
    word-spacing: 0.7;
    flex-direction: column;
    margin-bottom: 23px;
    gap: 9px;
  }

  .example__images {
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 95px;
  }
}

//desktop

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient($bg-color-basic-white 191px, $bg-color-additional 110px);

    &::before {
      content: none;
    }
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 55px;
    padding-bottom: 0;
    border: none;
  }

  .example__title {
    grid-column: 1 / 2;
    margin-bottom: 148px;
  }

  .example__images {
    grid-column: 2 / -1;
    grid-row: 1 / -5;
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: auto;
  }

  .example__list-wrapper {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 37px;
    z-index: 1;
    margin-bottom: 50px;
  }

  .example__list {
    grid-row: 1 / -2;
    grid-column: 1 / -1;
  }

  .example__description {
    grid-column: 1 / 2;
    max-width: 433px;
    margin-bottom: 68px;
    z-index: 1;
  }

  .example__costs-wrapper {
    grid-row: 2 / -2;
    font-size: 20px;
    text-align: left;
    display: block;
  }

  .example__costs-number {
    margin-left: 59px;
  }

  .example__stats-description {
    background-color: $bg-color-additional;
  }
}
