.gift {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: $bg-color-basic-green;

  @media (min-width: 768px) and (max-width: 1439px) {
    text-align: left;
  }
}

.gift__description {
  max-width: auto;
  margin: 0 auto;

  &::before {
    content: "";
    display: block;
    position: relative;
    top: -50px;
    justify-self: center;
    mask-image: url("../../icons/stack.svg#gift");
    background-color: #ffffff;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 78px 80px;
    width: 78px;
    height: 80px;
  }
}

@media (min-width: $tablet-width) {
  .gift__description {
    &::before {
      top: 50%;
      left: -100px;
      transform: translateY(-57%);
    }
  }
}
