.main-logo {
  display: block;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--header {
    //
  }

  &--footer {
    //
  }
}

.main-logo__icon {
  //
}

.main-logo__icon-name {
  //
}
