.main-logo {
  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--header {
    //
  }

  &--footer {
    //
  }
}

.main-logo__icon {
  //
}

.main-logo__icon-name {
  //
}

@media (min-width: $desktop-width) {
  .main-logo__icon-name {
    height: 21px;
    width: 118px;
  }
}
