.main-nav {
  font-family: $font-additional;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.main-nav__wrapper {
  //
}

.main-nav__list {
  text-align: center;
  list-style-type: none;
}

.main-nav__list a {
  text-decoration: none;
  text-transform: uppercase;
  color: $color-text-basic-black;

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav__item {
  //
}

.main-nav__toggle {
  height: 24px;
  width: 24px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  cursor: pointer;

  @media (min-width: 768px) {
    visibility: hidden;
  }
}

.main-nav__hamburger {
  position: relative;
  top: 0;
  left: 0;
  border: none;
  margin: 0;
  padding: 0;
  background: #000000;
  height: 2px;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -8px;
    width: 100%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
  }

  &::after {
    top: 8px;
  }
}


.main-nav__button {
  border: 0;
  background-color: transparent;

  &:active + .main-nav__hamburger {
    visibility: hidden;
  }

  &:active + .main-nav__hamburger::before {
    top: 0;
    left: 0;
    height: 1.5px;
    transform: rotate(45deg);
    transition: all  0.3s ease;
    visibility: visible;
  }

  &:active + .main-nav__hamburger::after {
    top: 0;
    left: 0;
    height: 1.5px;
    transform: rotate(135deg);
    transition: all  0.3s ease;
    visibility: visible;
  }
}

.main-nav__item--active {
  //
}
