.main-footer {
  background-color: $bg-color-primary;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
  padding: 40px 20px;

  @media (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 66px 110px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }
}

.main-footer__logo {
  align-self: center;
}

.main-footer__social {
  position: relative;

  @media (max-width: 767px) {
    &::before {
      content: "";
      position: absolute;
      bottom: 42px;
      left: 50%;
      width: 100%;
      height: 1px;
      transform: translateX(-50%);
      background-color: $color-text-additional-grey-2;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 50%;
      width: 100%;
      height: 1px;
      transform: translateX(-50%);
      background-color: $color-text-additional-grey-2;
    }
  }
}

.main-footer__copyright {
  justify-content: space-between;
}
