.page {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $color-text-basic-black;
  background-color: $bg-color-basic-white;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  margin: 0, auto;
}
