.page-main {
  //
}

.page-main__title {
  text-align: left;
  padding: 27px 0 41px;
  padding-left: calc(20% - 40px);
  font-family: $font-additional;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
  border-top: 1px solid $color-text-additional-grey-2;
  border-bottom: 1px solid $color-text-additional-grey-2;


  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    padding-left: auto;
    border: none;
    margin-bottom: 161px;
  }
}
