.programs {
  //
}

.programs__wrapper {
  //
}

.programs__list {
  //
}

.programs__item {
  margin: 20px;
  padding: 20px;
  position: relative;
  list-style-type: none;
  background-color: $bg-color-primary;
}

.programs__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 9px;
  padding-left: 81px;
  font-family: $font-additional;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    background-color: $bg-color-basic-green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &--slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-fit");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 12px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-muscle");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  margin-bottom: 38px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs__link {
  position: relative;
  margin: 0;
  padding: 4px;
  font-family: $font-additional;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    display: block;
    width: 9px;
    height: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #000000;
    // mask-image: url("../../icons/stack.svg#arrow-right");
    // mask-position: center;
    // mask-repeat: no-repeat;
    // mask-size: 24px 10px;
    // background-color: #000000;
  }

  &:hover::after {
    mask-size: 32px 10px;
    width: 32px;
  }


  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 50%;
  //     transform: translateY(-50%);
  //     right: -30px;
  //     width: 24px;
  //     height: 10px;
  //     mask-image: url("../../icons/stack.svg#arrow-right");
  //     mask-position: center;
  //     mask-repeat: no-repeat;
  //     mask-size: 24px 10px;
  //     background-color: #000000;
  //   }

  //   &:hover::after {
  //     mask-size: 32px 10px;
  //     width: 32px;
  //   }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}
