.subscribe__title {
  font-family: $font-additional;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-basic-black;
  margin: 39px 0 32px;
}

.subscribe__description {
  min-width: 218px;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-family: $font-additional;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-basic-black;
}

.subscribe__form {
  max-width: $tablet-width - 136px;
  margin: 0 auto;
  margin-bottom: 40px;
}

//tablet

@media (min-width: $tablet-width) {
  .subscribe__title {
    padding-left: 0;
    margin: 80px 0 66px;
    font-size: 32px;
    line-height: 32px;
  }

  .subscribe__description {
    font-size: 24px;
    line-height: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .subscribe__form {
    display: flex;
    width: 100%;
    margin-bottom: 80px;
    max-width: 832px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: $desktop-width) {
  .subscribe__title {
    margin: 96px 0 72px;
    font-size: 40px;
    line-height: 40px;
  }

  .subscribe__wrapper {
    max-width: $tablet-width;
  }

  .subscribe__form {
    margin-bottom: 104px;
  }
}
