.subscribe {
  //
}

.subscribe__title {
  font-family: $font-additional;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-basic-black;

  @media (min-width: 1440px) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 32px;
  }
}

.subscribe__description {
  font-family: $font-additional;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-basic-black;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  //
}
